.scroller-wrapper {
    display: flex;
    position: relative;
    overflow-x: overlay;
    align-items: center;
    flex-direction: row;
    // border: $test_border;
    height: fit-content;
    padding: 3rem 2rem;
    width: 100%;
    gap: 2rem;
}

.scrolling_card_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $pure;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    // margin: 0 1rem;
    border-radius: 1rem;
    padding: 2rem;
    // border:$test_border;
    box-shadow: $shadow_type_1;
    // border: 2px solid;

    & .img-section {
        width: 100%;
        border-radius: 1rem;
        // border: 2px solid;
        display: flex;
        justify-content: center;
        height: 20rem;
    }
    .img-section > img {
        width: 180px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 100%;
        transition: 0.3s;
        // border: 2px solid;
    }

    & .footer-section {
        height: fit-content;
        // border: 2px solid;
        width: 100%;
        padding-top: 1rem;
        & h1 {
            font-weight: 400;
        }
    }
}
