// @import url(https://fonts.googleapis.com/css2?family=Open Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');
.lek-64-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: normal;
}

.lek-48-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: normal;
}
.lek-40-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
}
.lek-36-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: normal;
}
.lek-32-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: normal;
}
.lek-28-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: normal;
}

.lek-24-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.lek-20-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.lek-18-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.lek-16-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.lek-14-regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.lek-64-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
}

.lek-48-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
}
.lek-40-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.lek-36-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.lek-32-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
}
.lek-28-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.lek-24-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.lek-20-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.lek-18-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.lek-16-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.lek-14-bold {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
