@import "./variables";
.payment-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100vw;
    height: fit-content;
    gap: 3rem;

    & .product-section {
        background-color: #fff;
        width: 90%;
        display: flex;
        height: 18rem;
        justify-content: flex-start;
        // flex-direction: column;
        align-items: center;
        padding: 3rem;
        box-shadow: $card_shadow;
        & img {
            height: 12rem;
            margin: 0 2rem;
        }
        & span {
            height: 100%;
        }
    }
    & .table-section {
        box-shadow: $card_shadow;
        padding: 3rem;

        width: 90%;
        height: fit-content;
        background-color: #fff;
        & table {
            margin: 2rem 0;
            width: 100%;
            border: 2px solid $bg_color;
            // background-color: $bg_color;
            border-collapse: collapse;
            & th {
                // text-align: left;
                padding: 2rem 0;
                // border: 2px solid $bg_color;
            }
            & .t-heads {
            }
        }
    }

    & .pay-n-address-section {
        width: 90%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        & .address-section,
        .payment-section {
            background-color: $pure;
            // border: 2px solid;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 2rem;
            width: 48%;
            box-shadow: $card_shadow;
            padding: 2rem;
            & p {
                text-align: justify;
            }
        }
    }
}
